// Navigation Styles here

.navigation-bar {
    .sectionBorder();
    width: 100%;
    margin: 0 auto;

    .inner-box {
        .flexBetween(space-between, center);

        width: 60%;
        margin: 2rem auto;

    }

    a {
        .style-clear();

        /* test Animation*/
        .slideInKey(fade-in;{
            0% { opacity: 0; }
            100% { opacity: 1; }
            });

        .slideInAnimation(fade-in 0.2s linear infinite alternate);

        padding:0 1rem;
    }

    @media @mobile {

        .inner-box {
            .columnNav();
        }
    }

    @media @tablet {
        .inner-box {
            .tabletNav();
        }
    }
}