// Navigation Styles here

.navigation-bar{
    .sectionBorder();
    width:100%;
    margin: 0 auto;

    .inner-box{
        .flexBetween(space-between, center);

        width:80%;
        margin:2rem auto;

    }

    a{
        .style-clear();
        padding:0 1rem;
    }

    @media @mobile{

        .inner-box{
            .columnNav();
        }
    }
}